body{
    background-color: darkslategray;
}

h1{
    color: white;
    margin: auto 10px;
}

.joke{
    color: white;
    font-size: 25px;
    max-width: 50%;
    margin: auto;
}

blockquote{
    position: relative;
    font-family: 'Verdana', serif;
    font-size: 2.4em;
    line-height: 1.5em;    
}

blockquote::before {
    content: '\201c';
    position: absolute;
    top: 0.4em;
    left: 13vw;
    font-size: 6em;
    font-style: italic;
    color: #bdbec0;
    z-index: -1;
  }

.box{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 70vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 
    rgb(16 15 15) 12px 12px 16px 0px, 
    rgb(33 38 73 / 40%) -8px -8px 12px 0px;
    overflow: hidden;
}

.box img {
    width: 100%;
}

.box::before{
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg, transparent, #fff, transparent);
    transform: skewX(-30deg);
    transition: 0.7s;
}

.box:hover::before{
    left: 350px;
}