*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.top {
    background-color: black;
    color: white;
    display: block;
    width: 100%;
}


.top-bar{
    display: inline-block;
    vertical-align: middle;
}

.top-bar li{
    display: inline-block;
}

.social-links-header {
    display: inline-block;
    vertical-align: middle;
}
.social-links-header li{
    display: inline-block;
}

.logo-title{
    display: flex;
    justify-content: center;
}
.logo{
    display: inline-block;
    padding: 20px;
}
.logo-title h1{
    display: inline-block;
    padding: 20px;
}

.main-nav{
    /* display: block; */
    justify-content: center;
    margin: 0 auto;
}
.main-nav ul {
    /* display: inline-block; */
    list-style: none;
    margin-top: 2%;
    margin-bottom: 100px;
}
.main-nav ul li{
    background-color: black;
    color: white;
    line-height: 50px;
    padding: 10px 50px;
    text-transform: uppercase;
    float: left;
    position: relative;
    font-weight: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px solid white;
    text-align: center;
    width: 15vw; 
}

.main-nav ul li:hover{
    background-color: crimson;
}

.main-nav ul ul{
    display: none;
    position: absolute;
}

.main-nav ul li:hover > ul{
    display: flex;
    flex-direction: column;
    margin: 0px -50px -20px -50px;
    padding: 0px;
    z-index: 1;
}